.csstransitions.csstransforms {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000; }
  .csstransitions.csstransforms .deck-container:not(.deck-menu) {
    overflow: hidden; }
    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -400px;
      width: 800px;
      -webkit-transition: all 1s ease-in-out 0ms;
      -moz-transition: all 1s ease-in-out 0ms;
      -ms-transition: all 1s ease-in-out 0ms;
      -o-transition: all 1s ease-in-out 0ms;
      transition: all 1s ease-in-out 0ms; }
    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .slide .slide {
      position: relative;
      left: 0;
      top: 0;
      opacity: 0;
    }
    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-previous,
    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-next {
      opacity: 0; }
    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-previous {
      -webkit-transform: rotateY(-90deg) translateZ(400px) translateX(-400px);
      -moz-transform: rotateY(-90deg) translateZ(400px) translateX(-400px);
      -ms-transform: rotateY(-90deg) translateZ(400px) translateX(-400px);
      -o-transform: rotateY(-90deg) translateZ(400px) translateX(-400px);
      transform: rotateY(-90deg) translateZ(400px) translateX(-400px); }
    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-next {
      -webkit-transform: rotateY(90deg) translateZ(400px) translateX(400px);
      -moz-transform: rotateY(90deg) translateZ(400px) translateX(400px);
      -ms-transform: rotateY(90deg) translateZ(400px) translateX(400px);
      -o-transform: rotateY(90deg) translateZ(400px) translateX(400px);
      transform: rotateY(90deg) translateZ(400px) translateX(400px); }
    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-before,
    .csstransitions.csstransforms .deck-container:not(.deck-menu) > .deck-after {
      display: none; }
