@mixin transition($prop, $duration, $easing: ease-in-out, $delay: 0ms) {
    -webkit-transition:$prop $duration $easing $delay;
    -moz-transition:$prop $duration $easing $delay;
    -ms-transition:$prop $duration $easing $delay;
    -o-transition:$prop $duration $easing $delay;
    transition:$prop $duration $easing $delay;
}

@mixin transform($val) {
    -webkit-transform:$val;
    -moz-transform:$val;
    -ms-transform:$val;
    -o-transform:$val;
    transform:$val;
}

@mixin perspective($val) {
    -webkit-perspective:$val;
    -moz-perspective:$val;
    -ms-perspective:$val;
    -o-perspective:$val;
    perspective:$val;
}

.csstransitions.csstransforms {

    @include perspective(1000);

    .deck-container:not(.deck-menu) {
        overflow:hidden;

        > .slide {
            position:absolute;
            top:0;
            left:50%;
            margin-left:-400px;
            width:800px;
            @include transition(all, 1s);

            .slide {
                position:absolute;
                left:0;
                top:0;
                opacity:0;
            }

            .deck-before, .deck-previous {
                opacity:0.4;
            }

            .deck-current {
                opacity:1;
            }

        }
        > .deck-previous, > .deck-next {
            opacity:0;
        }

        > .deck-previous {
            @include transform(rotateY(   -90deg ) translateZ(400px) translateX(-400px));
        }

        > .deck-next {
            @include transform(rotateY(   90deg ) translateZ(400px) translateX(400px));
        }

        > .deck-before, > .deck-after {
            display:none;
        }
    }
}
